<div class="main-content">
    <p>Hello! I'm Mastrangelo Giovanni, a web development enthusiast with a keen focus on Angular and a will 
        to explore various frameworks and languages. While my experience with programming is still growing, 
        I have a solid understanding of Angular and i want to improve my knowledge in a professional environment. 
        I'm always on the lookout for new challenges and learning opportunities to expand my skills and improve 
        as a developer, in fact I love spending my free time taking online courses.
        In my portfolio, you'll find some projects I've completed, 
        along with other experiences that demonstrate my dedication and passion for programming. 
        I'm ready to make a meaningful contribution to any development team and look forward to discovering 
        where my journey in the world of web development will take me!
     </p>
</div>