<div class="order">

    <div class="section1">
        <img src="/assets/img/about.jpg">
            <div class="paragraph">
                <h2>Chi sono</h2>
                <p>Ciao! Sono Mastrangelo Giovanni, un appassionato di sviluppo web con una forte passione per <strong class="big">Angular</strong> e tanta volontà
                    esplorare vari framework e linguaggi. Anche se la mia esperienza con la programmazione è <strong class="big">ancora in crescita</strong>, 
                    Ho una solida conoscenza di Angular e desidero intraprendere nuove esperienze professionali. 
                    Sono sempre alla ricerca di nuove <strong class="big">sfide</strong> e opportunità di apprendimento per ampliare le mie competenze e migliorare
                    come sviluppatore, infatti amo trascorrere il mio tempo libero seguendo <strong class="big">corsi online</strong>.
                    Nel mio portfolio troverai alcuni progetti che ho completato,
                    insieme ad altre esperienze che dimostrano la mia dedizione e passione per la programmazione.
                    Sono pronto a dare un <strong class="big">contributo significativo</strong> a qualsiasi team di sviluppo e non vedo l'ora di scoprirlo
                    dove mi porterà il mio viaggio nel mondo dello sviluppo web!</p>
            </div>
    </div>

    
    <div class="section2">
        <div class="paragraph">
            <h2>I miei obiettivi</h2>
            <p>Oltre alla passione per <strong class="big">sviluppo web</strong>, mi dedico anche alla definizione e al raggiungimento di obiettivi <strong class="big">personali e professionali</strong>.
                Alla costante ricerca della crescita, i miei obiettivi attuali ruotano attorno alla padronanza delle <strong class="big">tecniche Angular avanzate</strong>, all'approfondimento dello <strong class="big">sviluppo full-stack</strong>, 
                ed esplorare le <strong class="big">tecnologie emergenti </strong> nel campo. Fissando obiettivi chiari e mantenendo un approccio proattivo all'apprendimento, miro ad elevare ulteriormente le mie capacità
                e contribuire in modo significativo a progetti innovativi all'interno della comunità di sviluppo web.<br>
                Di seguito troverai i progetti che ho completato autonomamente. Questa sezione è in <strong class="big">costante aggiornamento</strong>, quindi continuerò ad aggiungere i miei lavori man mano che li concludo</p>
        </div>
    <img src="assets/img/chess flag.png">
</div>

</div>

<div><h2>Progetti online</h2></div>
        <div class="cells">         
                <div id="recipe" (click)="redirectTo('https://recipe-2c4a1.web.app/')"></div>
                <div id="wip">work in progress...</div>
                <div id="wip">work in progress...</div>
        </div>
