<div class="groups">
  
    <div
      class="social"
      (click)="
        redirectContacts(
          'https://www.linkedin.com/in/giovanni-mastrangelo-8a8893240?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BDTPLn001TByyGX2pfyGP%2Bg%3D%3D'
        )">
      <span>Linkedin</span>
      <div class="linkedinIcon"><i class="fab fa-linkedin"></i></div>
    </div>
  
  <div class="flex hr"><hr/><span>or</span><hr></div>

    <div class="social" (click)="redirectContacts('https://github.com/mastro00')">
      <div class="githubIcon"><i class="fab fa-github"></i></div>
      <span>GitHub</span>
      
    </div>
  </div>
<div style="height: 110px;">
  <button (click)="download()">Ottieni il mio Cv <i class="fa-solid fa-download"></i></button>
</div>

