<div class="contacts">
    <div class="contact">
        <a href="#" (click)="redirectContacts('https://www.linkedin.com/in/giovanni-mastrangelo-8a8893240?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BDTPLn001TByyGX2pfyGP%2Bg%3D%3D')">Linkedin
            <i class="fab fa-linkedin"></i>
        </a>
    </div>
    <div class="contact">
        <a href="#" (click)="redirectContacts('https://github.com/mastro00')">GitHub
            <i class="fab fa-github"></i>
        </a>
    </div><div class="contact">
        <a href="#" (click)="redirectContacts('https://www.linkedin.com/in/giovanni-mastrangelo-8a8893240?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BDTPLn001TByyGX2pfyGP%2Bg%3D%3D')">Linkedin
            <i class="fab fa-google"></i>
        </a>
    </div>
</div>