.prova {
    
    background-image: url('/assets/img/bg9.jpg');
  background-size: cover;
  background-position: center;
    width: 100%;
    display:grid;
    grid-template-rows: 110px 1fr;
    overflow: auto;
}

.impagination {
    min-height: 100%;
}

