.prova {
    background: rgb(172,240,242);
    background: linear-gradient(90deg, rgba(172,240,242,1) 0%, rgba(22,149,163,1) 34%, rgba(34,82,119,1) 100%);
    width: 100%;
    display:grid;
    grid-template-rows: 110px 1fr;
    overflow: auto;
}

.impagination {
    min-height: 100%;
}

