i {
    font-size: 20px;
    display: flex;
}




/* Lista pagine (ul) */
.pages {
    list-style-type: none;
    padding: 0;
}

.pages li a {
    text-decoration: none;
    color: #333;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
}

.pages li a:hover {
    color: #555;
}

.pages li > a > div:has(i){
    width: 40px;
    height: auto;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages li span {
    display: flex;
    align-items: center;
}

.pages.reduced li span{
    display: none;
}



/* freccia della sidebar */
.scrollDiv {
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translate(0px, -50%);
}

.scrollDiv #scrollButton {
    width: 40px;
    height: auto;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
}



/* span della freccia */
.scrollDiv .buttonTitle {
    display: none;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    transition: opacity 0.3s;
    height: fit-content;
    text-wrap: nowrap;
    position: absolute;
    left: 30px;
    bottom: 25px;
  }
  
  .scrollDiv:hover .buttonTitle {
    display: block;
    opacity: 1;
  }