<!-- <div class="sidebar">
    <ul class="nav">
        <li routerLinkActive="active"><a routerLink="/" style="cursor: pointer;">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/about" style="cursor: pointer;">About</a></li>
        <li routerLinkActive="active"><a routerLink="/career" style="cursor: pointer;">Career</a></li>
    </ul>
</div> -->


<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <li routerLinkActive="active"><a routerLink="/" style="cursor: pointer;">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/about" style="cursor: pointer;">About</a></li>
        <li routerLinkActive="active"><a routerLink="/career" style="cursor: pointer;">Career</a></li>
        <li routerLinkActive="active"><a routerLink="/contacts" style="cursor: pointer;">contacts</a></li>
</div>