<div class="card">
  <ul class="pages" [ngClass]="{ reduced: !show }">
    <li routerLinkActive="active">
      <a routerLink="/" style="cursor: pointer">
        <div>
          <i class="fa-solid fa-house"></i>
        </div>
        <span> Home </span>
      </a>
    </li>
  
    <li routerLinkActive="active">
      <a routerLink="/about" style="cursor: pointer">
        <div><i class="fas fa-info-circle"></i></div>
        <span> About </span>
      </a>
    </li>
  
    <li routerLinkActive="active">
      <a routerLink="/career" style="cursor: pointer">
        <div>
          <i class="fas fa-briefcase"> </i>
        </div>
        <span> Career </span>
      </a>
    </li>
  
    <li routerLinkActive="active">
      <a routerLink="/contacts" style="cursor: pointer">
        <div><i class="fas fa-address-book"></i></div>
        <span> Contacts </span></a
      >
    </li>
  </ul>
  
  <div class="flex jl scrollDiv">
    <button
      id="scrollButton"
      (click)="showButton()">
      <i
        [ngClass]="
          show
            ? 'fa-solid fa-circle-arrow-left'
            : 'fa-solid fa-circle-arrow-right'
        "
      ></i>
    </button>
    <span class="buttonTitle">{{ show ? 'Collapse sidebar' : 'Open sidebar' }}</span>
  </div>
</div>