h1 {
    text-align: center;
}

.dropdown {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px;
    gap: 10px;
  }
  
  .dropdown-header {
    cursor: pointer;
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  .dropdown-content {
    visibility: hidden;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
    height: fit-content;
  }

  .dropdown-content:not(.show) p{
    display: none;
  }

  .dropdown-content.show {
    visibility: visible;
  }