<p>2020 - graduated in it and telecomunications</p>
<hr>
<p>2021-2022 - Sielte SpA</p>
<p>during this experience i could work for internet providers like Telecom, Vodafone and Sky</p>
<p>what i was doing and what i learned?<br>
-Ticketing activity where i had to help tecnicians finding problems and guiding them in order to fix customers problem<br>
-3rd level assistance directly with customers and their problem<br>
-monitoring Enel devices and operating on php shells to fix them in case of problems<br>
-learned to use ticketing programm like Service Now<br>
-constantly working with deadlines<br>
-stress management<br></p>
<hr>
<p>2022-2024 - Betacom</p>
<p>in the first months i started the Betacom academy wich was a course of 500 hours based on</p>
<p>Java: <br>
-Basics of objected oriented<br>
-design patterns<br>
-Junit<br>
-Connections with databases by JDBC, Jpa, Hibernate<br>
-Crud metods with Rest services<br>
</p>
<p>Databases:<br>
-Sql<br>
-PlSql<br>
-Oracle<br>
-WildFly<br>
-MySql<br>
</p>
<p>
Angular:<br>
-Pattern MVVM<br>
-Way of data binding<br>
-Directives<br>
-Routes<br>
-Forms<br>
-Pipe<br>
-observable<br>
-Injection<br>
</p>
<hr>
<p>Extra</p><br>
<p>Sometime i like to study with online courses</p>
<p>Angular Course</p>
<p>Here i studied more in deep Angular and learned about:</p>
<p>
-Observables<br>
-Http Requests<br>
-Authentication<br>
-Optimization<br>
-Deploy<br>
</p>
<p>Html and Css</p>
<p>Work in progress...</p>