<h1>My experience</h1>
<div class="dropdown">
    <div class="dropdown-header" (click)="toggleDropdown(1)">
        <span>2020 - graduated in it and telecomunications<i class="fa-solid fa-caret-down"></i></span>
    </div>
    
    <div class="dropdown-header" (click)="toggleDropdown(2)">
        <span>2021-2022 - Sielte SpA<i class="fa-solid fa-caret-down"></i></span>
    </div>
    
    <div class="dropdown-header" (click)="toggleDropdown(3)">
        <span>2022-2023 - Betacom (Academy)<i class="fa-solid fa-caret-down"></i></span>
    </div>
    
    <div class="dropdown-content" [ngClass]="{ 'show': isDropdownOpen[1] }">
        <p>This is where my journey and passion for programming began, since my first approach to <strong class="big">java</strong> I understood that web development would be my path.<br>
            I graduated after learning the basics of <strong class="big">object-oriented programming and SQL language</strong>
        </p>
    </div>
    
    <div class="dropdown-content" [ngClass]="{ 'show': isDropdownOpen[2] }">
        <p>during this experience i could work for internet providers like <strong class="big">Telecom, Vodafone and Sky.<br></strong>
            what i learned?:<br>
            </p>
            <ul>
                <li><strong class="big">Ticketing activity</strong> where i had to help tecnicians finding problems and guiding them in order to fix customers problem</li>
                <li>3rd level assistance directly with customers and their problem</li>
                <li>learned to use ticketing programm like <strong class="big">Service Now</strong></li>
                <li>monitoring Enel devices and operating on <strong class="big">php shells</strong> and fix them in case of problems</li>
                <li>constantly working with <strong class="big">deadlines</strong></li>
                <li>stress management</li>
            </ul>
    </div>
    
    <div class="dropdown-content" [ngClass]="{ 'show': isDropdownOpen[3] }">
        <p>in the first months i started the Betacom academy wich was a course of 500 hours based on:</p>
        <p><strong class="big">Java:</strong></p>
        <ul>
            <li>Basics of objected oriented</li>
            <li>design patterns</li>
            <li>Junit</li>
            <li>Connections with databases by JDBC, Jpa, Hibernate</li>
            <li>Crud metods with Rest services</li>
        </ul>
        <p><strong class="big">Databases:</strong></p>
        <ul>
            <li>Sql</li>
            <li>PlSql</li>
            <li>Oracle</li>
            <li>WildFly</li>
            <li>MySql</li>
        </ul>
        <p><strong class="big">Angular</strong></p>
        <ul>
            <li>Pattern MVVM</li>
            <li>Ways of data binding</li>
            <li>Directives</li>
            <li>Routes</li>
            <li>Forms management</li>
            <li>Pipe</li>
            <li>observable</li>
            <li>Injection</li>
        </ul>
    </div>
</div>

<div class="dropdown2">
    <div class="dropdown-header" (click)="toggleDropdown(4)">
        <span>2023-2024 - Betacom (GFT-Intesa San Paolo)<i class="fa-solid fa-caret-down"></i></span>
    </div>
    
    <div class="dropdown-header" (click)="toggleDropdown(5)">
        <span>Extra<i class="fa-solid fa-caret-down"></i></span>
    </div>
    
    
    
    <div class="dropdown-content" [ngClass]="{ 'show': isDropdownOpen[4] }">
        <p>data warehouse developer in consultancy for <strong class="big">Intesa San Paolo in banking sector</strong></p>
        <ul>
            <li>management of large amounts of customer data</li>
            <li>operate on virtual machines</li>
            <li>used <strong class="big">Datastage</strong> to manipulate data and write them on databases</li>
            <li><strong class="big">Teradata</strong> and <strong class="big">hadoop databases (sql)</strong></li>
            <li><strong class="big">php shell</strong> implemented to <strong class="big">normalize</strong> data</li>
            <li>ticket monitoring and assistance by using <strong class="big">Service Now</strong></li>
            <li>Versioning By <strong class="big">GitHub</strong> and <strong class="big">Rational Team Concert (Rtc)</strong></li>
        </ul>
    </div>
    
    <div class="dropdown-content" [ngClass]="{ 'show': isDropdownOpen[5] }">
        <p>I belive that a developer must always improve his knowledge</p>
    <p>That's why i invest my time on self improvement in the free time</p>
    <p>Angular Course</p>
    <p>Here i studied more in deep Angular and learned about:</p>
    <ul>
        <li>Observables</li>
        <li>Http Requests</li>
        <li>Authentication</li>
        <li>Optimization</li>
        <li>Deploy</li>
    </ul>
    <p>What will be my next move?</p>
    <p>Html and Css course</p>
    <div  class="wip"><p>Work in progress... <svg viewBox="25 25 50 50">
        <circle r="20" cy="50" cx="50"></circle>
      </svg></p></div>
    
    </div>
</div>

