<h1>Le mie esperienze</h1>
<div class="dropdown">
    <div class="dropdown-header" (click)="toggleDropdown(1)">
        <span>2020 - Diploma in informatica e telecomunicazioni<i class="fa-solid fa-caret-down"></i></span>
    </div>
    
    <div class="dropdown-header" (click)="toggleDropdown(2)">
        <span>2021-2022 - Sielte SpA<i class="fa-solid fa-caret-down"></i></span>
    </div>
    
    <div class="dropdown-header" (click)="toggleDropdown(3)">
        <span>2022-2023 - Betacom (Academy)<i class="fa-solid fa-caret-down"></i></span>
    </div>
    
    <div class="dropdown-content" [ngClass]="{ 'show': isDropdownOpen[1] }">
        <p>È qui che è iniziato il mio percorso e la mia passione per la programmazione, fin dal mio primo approccio a <strong class="big">java</strong> 
            Ho capito che lo sviluppo web sarebbe stata la mia strada.<br>
            Nel mio percorso di diploma ho avuto modo di approcciarmi alla <strong class="big">programmazione orientata a gli oggetti e al linguaggio Sql</strong>
        </p>
    </div>
    
    <div class="dropdown-content" [ngClass]="{ 'show': isDropdownOpen[2] }">
        <p>durante questa esperienza ho potuto lavorare per provider Internet come <strong class="big">Telecom, Vodafone and Sky.<br></strong>
            Cosa ho imparato :<br>
            </p>
            <ul>
                <li><strong class="big">Ticketing activity</strong> dove fornivo un solido supporto ai tecnici sul campo col fine di sanare il guasto</li>
                <li>Imparato a usare il programma di ticketing come <strong class="big">Service Now</strong></li>
                <li>Assistenza di 3° livello mirata alla risoluzione del guasto in sede cliente</li>
                <li>Monitoraggio gateway Enel e intervento tempestivo in caso di anomalie</li>
                <li>lavorando costantemente con <strong class="big">scadenze</strong></li>
                <li>gestione dello stress</li>
            </ul>
    </div>
    
    <div class="dropdown-content" [ngClass]="{ 'show': isDropdownOpen[3] }">
        <p>nei primi mesi ho iniziato la Betacom academy che consisteva in un corso di 500 ore basato su:</p>
        <p><strong class="big">Java:</strong></p>
        <ul>
            <li>Nozioni di base dei linguaggi ad oggetti</li>
            <li>design patterns</li>
            <li>Junit</li>
            <li>Connessione al db tramite JDBC, Jpa, Hibernate</li>
            <li>Metodi CRUD e rest api</li>
        </ul>
        <p><strong class="big">Databases:</strong></p>
        <ul>
            <li>Sql</li>
            <li>PlSql</li>
            <li>Oracle</li>
            <li>WildFly</li>
            <li>MySql</li>
        </ul>
        <p><strong class="big">Angular</strong></p>
        <ul>
            <li>Pattern MVVM</li>
            <li>Data binding</li>
            <li>Direttive</li>
            <li>Rotte</li>
            <li>Gestione dei form</li>
            <li>Pipe</li>
            <li>observable</li>
            <li>Injection</li>
        </ul>
    </div>
</div>

<div class="dropdown2">
    <div class="dropdown-header" (click)="toggleDropdown(4)">
        <span>2023-2024 - Betacom (GFT-Intesa San Paolo)<i class="fa-solid fa-caret-down"></i></span>
    </div>
    
    <div class="dropdown-header" (click)="toggleDropdown(5)">
        <span>Extra<i class="fa-solid fa-caret-down"></i></span>
    </div>
    
    
    
    <div class="dropdown-content" [ngClass]="{ 'show': isDropdownOpen[4] }">
        <p>sviluppatore data warehouse in consulenza per <strong class="big">Intesa San Paolo nel settore bancario</strong></p>
        <ul>
            <li>Gestione di enormi quantità di <strong class="big">dati bancari</strong> dei clienti</li>
            <li>Lavoro su macchina virtuale</li>
            <li>Utilizzo di <strong class="big">Datastage</strong> per manipolare i dati dei clienti e successivamente scrivrli sul databbase teradata</li>
            <li>Database <strong class="big">Teradata e adoop (sql)</strong></li>
            <li><strong class="big">shell php</strong> implementate per <strong class="big">normalizzare</strong> i data</li>
            <li>Monitoraggio e risoluzione ticket aperti su <strong class="big">Service Now</strong></li>
            <li>Versionamento con <strong class="big">GitHub</strong> e <strong class="big">Rational Team Concert (Rtc)</strong></li>
        </ul>
    </div>
    
    <div class="dropdown-content" [ngClass]="{ 'show': isDropdownOpen[5] }">
        <p>Sono fermamente convinto che uno sviluppatore debba <strong class="big">costantemente migliorare</strong> le proprie conoscenze.</p>
    <p>Ecco perchè investo il mio tempo libero tramite corsi online:</p>
    <h3>Corso Angular</h3>
    <p>Qui ho approfondito <strong class="big">Angular</strong> imparando:</p>
    <ul>
        <li>Observables</li>
        <li>Richieste Http</li>
        <li>Autenticazione</li>
        <li>Ottimizzazione</li>
        <li>Deploy</li>
    </ul>
    <p>La mia prossima mossa?</p>
    <h3>Corsi Html e Css</h3>
    <div  class="wip"><p>Coming soon... <svg viewBox="25 25 50 50">
        <circle r="20" cy="50" cx="50"></circle>
      </svg></p></div>
    
    </div>
</div>

