:root {
    --color1: #225277;
    --color2: #1695A3;
    --color3: #ACF0F2;
    --color4: #F3FFE2;
    --color5: #EB7F00;
    --color6: darkmagenta;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* h1, h2, h3 {
    color: var(--color5)!important;
} */

.flex, .flexRow {
    display: flex;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.justifyCenter, .jc {
    justify-content: center;
}

.justifyStart, .justifyLeft, .jl {
    justify-content: left;
}

.justifyEnd, .justifyRight, .jr {
    justify-content: right;
}

.justfyBetween, .jb {
    justify-content: space-between;
}

.justifyAround, .ja {
    justify-content: space-around;
}

.justifyEvenly, .je {
    justify-content: space-evenly;
}

.alignStart, .alignUp, .aup {
    align-items: start;
}

.alignCenter, .ac {
    align-items: center;
}

.alignEnd, .alignDown, .adw {
    align-items: end;
}

.gap10 {
    gap: 10px;
}

.gap20 {
    gap: 20px;
}

.gap30 {
    gap: 30px;
}

.gap40 {
    gap: 40px;
}

.gap50 {
    gap: 50px;
}

.gap60 {
    gap: 60px;
}

.gap70 {
    gap: 70px;
}

.gap80 {
    gap: 80px;
}

.gap90 {
    gap: 90px;
}

.gap100 {
    gap: 100px;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
}

app-root {
    display: flex;
    height: 100%;
    font-family: "Platypi", serif;
}

app-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

app-sidebar {  
    position: relative;
    padding: 20px;
    border-right: 1px solid black;
    height: 100%;
}

app-contacts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

app-contacts .cv{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: end;
    align-items: end;
    padding: 5px;
}

app-about {
    display: flex;
    flex-direction: column;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
