<div class="general">


    <div class="card">
        
        <div class="text">
            <h2>Welcome</h2>
            <p>Hello! <br>My name is Mastrangelo Giovanni</p>
            <p>I'm a junior developer constantly looking for projects that stimulate my personal growth, 
                I invite you to look at the rest of my experience
            </p>
        </div>
        <div id="buttons" class="board-buttons gap30">
            <button class="btn-17" style="height: 40px;" (click)="seeMore('/about')"><span class="text-container"><span class="text">See more</span></span></button>
            <button class="btn-17" style="height: 40px;" (click)="seeMore('/contacts')"><span class="text-container"><span class="text">Hire me</span></span></button>      
        </div>
    </div>


<div class="image">
    <img src="assets/img/profile.png">
</div>
</div>