<div class="general">


    <div class="card">
        
        <div class="text">
            <h2>Welcome</h2>
            <p>Hello! <br>My name is Mastrangelo Giovanni</p>
            <p>I'm a junior developer constantly looking for projects that stimulate my personal growth, 
                i invite you to look at the rest of my experience
            </p>
        </div>
        <div id="buttons" class="board-buttons gap30">
            <button (click)="seeMore('/about')">See more</button>
            <button (click)="seeMore('/contacts')">Hire me</button>
        </div>
    </div>


<div class="image">
    <img src="assets/img/profile.png">
</div>
</div>